<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%SystemDrive%\Python311\python.exe"
                  arguments="-m gunicorn --bind 127.0.0.1:%HTTP_PLATFORM_PORT% --timeout 60 app:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="DATABASE_URL" value="%DATABASE_URL%"/>
        <environmentVariable name="SECRET_KEY" value="%SECRET_KEY%"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
